#grid {display: grid; grid-template-columns: 150px 1fr;padding: 35px;}
#grid #iu {padding: 10px;}
#grid ul {border-right:1px solid gray; width:100px; margin:10; padding:25px;}

body {margin:10px;}
a {color:mediumorchid; text-decoration: none;}
h1 {font-size:30px;text-align: center;border-bottom:1px solid gray;margin:0;padding:10px;}

@media (max-width:1100px) {
  #grid {display:block;}
  #grid ul {border-right:none;}
  h1{text-align: left;border-bottom:none;}
  }
